* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {

}

html {
    box-sizing: border-box;
    font-size: 16px;  
}

@font-face {
    font-family: 'norsebold';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    display: grid;
    grid-template-columns: auto 72px 72px 72px 72px 72px auto;
    grid-template-rows: 150px 400px;
    grid-template-areas:
        'sdl her her her her her sdr'
        'sdl cta cta cta cta cta sdr'
        ;
}

h1 {
    font-family: norsebold, sans-serif;
}

a {
    color: white;
}


a:visited {
    color: white;
}


/* HERO SECTION */

.hero {
    background-image: url('./assets/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 360px;
    grid-area: her;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero h1 {
    font-size: 4rem;
    display: inline;
    color: white;
}

.hero-forward-image {
    width: 60px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.hero p {
    position: absolute;
    bottom: 10px;
    align-self: center;
    font-size: 0.75rem;
    color: white;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    grid-area: cta;
}

/* FOOTER */

.attribution {
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #FCFAF9;
}

.attribution a { color: hsl(228, 45%, 44%); }