@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(245, 245, 245);
}

@font-face {
    font-family: 'norsebold';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: norsebold, sans-serif;
}

h2 {
    font-size: 1.5rem;
    word-spacing: 0.1rem;
}

h3 {
    font-size: 1.2rem;
}

.hero a {
    color: white;
}


.hero a:visited {
    color: white;
}

/* HERO SECTION */

.hero {
    background-image: url('./assets/images/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 150px;
}

.hero h1 {
    font-size: 4rem;
    display: inline;
    color: white;
}

.hero-forward-image {
    width: 60px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.hero p {
    position: absolute;
    bottom: 10px;
    align-self: center;
    font-size: 0.6rem;
    color: white;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    background-color: rgb(245, 245, 245);
    margin-bottom: 60px;
}

.call-to-action-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}

.call-to-action h2 {
    margin-top: 30px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-pair {
    display: flex;
    flex-direction: column;
}

.border-area {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(128, 128, 128, 0.4);
}

.form-submit-wrapper {
    padding: 10px;
}

.lower-shaded {
    background-color: rgb(245, 245, 245);
}

label {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

input {
    font-size: 1rem;
    padding: 6px;
    height: 2rem;
    outline: none;
    width: 360px;
}

input:focus {
    border: 1px solid rgb(0, 0, 255);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.error {
    border: 1px solid red;
    border-radius: 4px;
}

.pw-error {
    font-size: 0.8rem;
    color: red;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    height: 40px;
    border: 1px solid #596D48;
    border-radius: 4px;
    background-color: #596D48;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

a {
    color: #47573a;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

/* FOOTER */

.attribution {
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #FCFAF9;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 601px) {
    .call-to-action-heading, .border-area, .form-submit-wrapper {
        padding-left: 130px;
    }
}


@media (min-width: 931px) {
    main {
      flex-direction: row;
    }  
  
    .hero {
        height: 100vh;
    }

    .hero {
        width: 35vw;
    }

    .hero p {
        position: absolute;
        bottom: 40px;
    }
    
    .call-to-action {
        width: 65vw;
    }

    .logo {
        margin-top: 140px;
    }

    .call-to-action-heading, .border-area, .form-submit-wrapper {
        padding-left: 30px;
    }

    .call-to-action-heading {
        max-width: 800px;
    }
   
    .form-group {
        flex-direction: row;
    }

    .form-group div:first-child {
        margin-right: 30px;
    }

    .form-pairs {
        flex-direction: row;
    }

    input {   
        width: 270px;
    } 
}

@media (min-width: 1281px) {
    .call-to-action-heading, .border-area, .form-submit-wrapper {
        padding-left: 80px;
    }

    .form-group div:first-child {
        margin-right: 120px;
    }
}